* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
    font-weight: 400;
}

/* body */

body{
    background-color: hsl(217, 54%, 11%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}

body p{
    color: #93A9CE;
}

body a{
    color: white;
    text-decoration: none;
    transition: .5s ease;
}

body a:visited{
    color: white;
}

body a:hover{
    color: hsl(178, 100%, 50%);
}

/* card NFT */

main{
    max-width: 350px;
    background-color: #15273F;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 10px 50px 10px #0b1522;
}

main img{
    max-width: 300px;
    border-radius: 0.5rem;
}

.container {
    position: relative;
    width: 100%;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 300px;
    border-radius: 0.5rem;
    opacity: 0;
    transition: .5s ease;
    background-color: transparent;
    background-image: url(/images/hover-bg.png)
}
  
.container:hover .overlay {
    opacity: 1;
}

.overlayContent {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
}

main section{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

span{
    color: #93A9CE;
}

section h1{
    color: white;
    margin: 1rem 0 1rem 0;
}

.description{
    margin: 0 0 1.4rem 0;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.priceSection{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
}

.timeSection{
    display: flex;
    align-items: right;
    justify-content: right;
    flex-direction: row;
    vertical-align: middle;
}


.price p{
    color: hsl(178, 100%, 50%);
}

.responsive {
    width: 100%;
    height: auto;
    max-width: 300px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ethIcon{
    margin-right: 8px;
}

.clockIcon{
    margin-right: 8px;
}

.daysleft{
    text-align: center;
}

.creator{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    margin: 2.5vh 0 0 0;
    vertical-align: middle;
    border-top: 1px solid #2F4159;
    padding-top: 15px;
}

.creatorName a{
    color: white;
}

.avatar {
    max-width: 30px;
    border: 1.3pt solid;
    border-color: white;
    border-radius: 100%;
    margin: 0 2vh 0 0;
}

.attribution{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #2F4159;
    text-align: center;
    padding: 10px 0 10px 0;
}

.attribution a{
    color: white;
}